.overviewContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 10%;
}

@media screen and (max-width: 1280px) {
  .overviewContainer {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }
}

.overviewItem {
  padding: 3rem;
  text-align: center;
}

.overviewItemText {
  width: 60%;
}

@media screen and (max-width: 1280px) {
  .overviewItem {
    padding: 1rem;
  }

  .overviewItemText {
    width: 100%;
  }
}

.overviewItemImage {
  width: 100%;
}

.overviewImage {
  height: 100%;
  width: 100%;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

@media screen and (max-width: 1280px) and (min-width: 966px) {
  .overviewImage {
    width: 75%;
  }
}

.overviewTitle {
  font-size: 28pt;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 55px;

}

.overviewText {
  font-size: 15pt;
  margin-bottom: 55px;
  text-align: justify;
}
