.valuePropCardsContainer {
  display: flex;
}

@media screen and (max-width: 900px) {
  .valuePropCardsContainer {
    flex-direction: column;
  }
}

.valuePropCard {
  flex-basis: 100%;
  margin: 1rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1280px) {
  .valuePropCardsContainer {
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
  }

  .valuePropCard {
    flex: 40%;
  }
}

.valuePropCardHeaderContainer {
  display: flex;
  align-items: flex-start;
  height: 5rem;
  margin-top: 1rem;
}

.valuePropCardIconContainer {
  width: 12%;
  margin-top: 0.3rem;
}

.valuePropCardTitleContainer {
  width: 85%;
}

.valuePropCardTitle {
  font-size: 16pt;
  line-height: 1.4;
  font-weight: 400;
}

@media screen and (max-width: 1280px) and (min-width: 900px) {
  .valuePropCardIconContainer {
    width: 18%;
    margin-top: 0.4rem;
  }

  .valuePropCardHeaderContainer {
    height: 4rem;
  }
}

@media screen and (max-width: 1000px) and (min-width: 900px) {
  .valuePropCardDescriptionContainer {
    height: 10rem;
  }
}
