.footerLicenseContainer{
    background-color: #1A1918;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 11pt;
}

.footerLicenseLink,.footerLicenseLink:hover {
    color: white;
}
