.footerLicenseContainer{
    background-color: #1A1918;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 11pt;
}

.footerLicenseLink,.footerLicenseLink:hover {
    color: white;
}

.signature {
    color: #25c2a0;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.signature:hover {
    text-decoration: none;
    color: #25c2a0
}
