name: Changeset

on:
  push:
    branches:
      - trunk
    paths-ignore:
      - 'microsite/**'
      - '.github/workflows/deploy-microsite.yml'
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  create-release-pr:
    name: Create Changeset PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js 12.x
        uses: actions/setup-node@v2
        with:
          node-version: 12.x

      - name: Install Dependencies
        run:  yarn install --immutable

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          version: yarn version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
