name: Deploy Microsite

on:
  push:
    branches:
      - trunk
    paths:
      - '.github/workflows/deploy-microsite.yml'
      - 'microsite/**'

jobs:
  deploy-microsite:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    env:
      CI: true
      NODE_OPTIONS: --max-old-space-size=4096

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js 12.x
        uses: actions/setup-node@v2
        with:
          node-version: 12.x

      - name: Microsite yarn install
        run: yarn
        working-directory: microsite

      - name: Build microsite
        run: yarn docusaurus build
        working-directory: microsite

      - name: Deploy microsite
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: microsite/build
